*{
    background-color: white;
}
.main{
position: relative;
border: 6px solid;
top: 30px;
left:400px;
height: 580px;
width:450px;
background-color: black;
border-color: rgba(129, 123, 123, 0.555);
}

#display{
    position: relative;
    border:2px solid;
    top: 30px;
    left:25px;
    height: 60px;
    width:400px;
    background-color: rgb(248, 243, 243);
    border-color:royalblue ;
    text-align: end;
    display: flex;
    justify-content:end;
    align-items: center;
    font-size: xx-large;
    
}
.a{
    position: relative;
    top: 30px;
    left:-10px;
    height: 60px;
    width:400px;
    background-color: rgb(248, 243, 243);
    


}
#ab{
    position: relative;
    top: -450px;
    left:450px;
    height: 60px;
    width:50px;
    background-color: rgb(253, 248, 248);
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
     
    
}
#ac{
    position: relative;
    top: -510px;
    left:540px;
    height: 60px;
    width:50px;
    background-color: rgb(253, 248, 248);
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#ad{
    position: relative;
    top: -570px;
    left:640px;
    height: 60px;
    width:50px;
    background-color: rgb(253, 248, 248);
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;

}
#ae{
    position: relative;
    top: -630px;
    left:760px;
    height: 60px;
    width:70px;
    background-color: rgb(252, 249, 249);
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;


}
#b{
    position: relative;
    top: -580px;
    left:450px;
    height: 60px;
    width:50px;
    background-color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
} 
#ba{
    position: relative;
    top: -640px;
    left:545px;
    height: 60px;
    width:50px;
    background-color: rgb(252, 247, 247);
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#bb{
    position: relative;
    top: -700px;
    left:640px;
    height: 60px;
    width:50px;
    background-color: rgb(252, 247, 247);
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#bc{
    position: relative;
    top: -760px;
    left:760px;
    height: 60px;
    width:70px;
    background-color: rgb(252, 247, 247);
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#c{
    position: relative;
    top: -700px;
    left:450px;
    height: 60px;
    width:50px;
    background-color: rgb(252, 247, 247); 
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#ca{
    position: relative;
    top: -760px;
    left:545px;
    height: 60px;
    width:50px;
    background-color: rgb(252, 247, 247);
       display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#cb{
    position: relative;
    top: -820px;
    left:645px;
    height: 60px;
    width:50px;
    background-color: rgb(252, 247, 247); 
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#cc{
    position: relative;
    top: -880px;
    left:760px;
    height: 60px;
    width:70px;
    background-color: rgb(252, 247, 247); 
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#d{
    position: relative;
    top: -825px;
    left:450px;
    height: 60px;
    width:50px;
    background-color: rgb(252, 247, 247); 
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#da{
    position: relative;
    top: -885px;
    left:545px;
    height: 60px;
    width:50px;
    background-color: rgb(252, 247, 247); 
     display: flex;
     align-items: center;
     justify-content: center;
     font-size:xx-large;
}
#db{
    position: relative;
    top: -950px;
    left:650px;
    height: 60px;
    width:50px;
    background-color: rgb(252, 247, 247); 
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}
#dc{
    position: relative;
    top: -1010px;
    left:760px;
    height: 60px;
    width:70px;
    background-color: rgb(252, 247, 247); 
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: xx-large;
}